<!doctype html>
<html>
<head>
	<title>Socket.IO chat</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<style type="text/css">
		#input_message { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
		#input_message input { border: 0; padding: 10px; width: 100%; margin-right: .5%; }
		
		#messages { list-style-type: none; margin: 0; padding: 0; }
		#messages li { padding: 5px 10px; }
		#messages li:nth-child(odd) { background: #eee; }
		#notifyUser { position: fixed; bottom: 42px; width: 100%; }
		.self{
			text-align: right;
		}
		.other{
			text-align: left;
		}
	</style>
</head>
<body>
	<div class="row">
		<div class="col-md-2 col-md-offset-1" style="text-decoration: capitalize;font-size: 20px">
			<%=: username | capitalize %>
		</div>
		<div class="col-md-6" style="text-align: right;">
			<a href="/logout">Logout</a>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-md-8 col-md-offset-1">
			<ul id="messages"></ul>
			<span id="notifyUser"></span>
		</div>
		<div class="col-md-3">
			<ul id="activity"></ul>
		</div>
	</div>
	<div id="input_message">
		<input id="m" autocomplete="off" name="content" placeholder="Press enter to send message" />
	</div>
	<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
	<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
	<script type="text/javascript">
		var socket = io();
		//var fromuser = '<%= username %>';
		var username = '<%= username %>';
		$('#m').keyup(function(e){
			if(e.keyCode == 13){
			var content = $('#m').val();
			var message = {fromuser:username,content:content} 
			socket.emit('chat message', message);
			$('#m').val('').focus();
			return false;
		}else{
			socket.emit('notifyUser',username);
		}
		});
		socket.emit("name",username);
		socket.on("join_room",function(name){
			$('#activity').append($('<li>').text(name + ' joined the room'));
		});
		socket.on("leave_room",function(name){
			$('#activity').append($('<li>').text(name + ' left the room'));
		});
		socket.on('chat message', function(messagedata){
			if(messagedata.username === username){
				$('#messages').append($('<li class="self">').text(messagedata.username + " : " + messagedata.content));
			}else{
				$('#messages').append($('<li class="other">').text(messagedata.username + " : " + messagedata.content));	
			}
		});
		socket.on('notifyUser', function(useristyping){
			
			$('#notifyUser').text(useristyping + ' is typing ...');
			
			setTimeout(function(){ $('#notifyUser').text(''); }, 5000);
		});
	</script>
	<script type="text/javascript">
		function notifyTyping() { 
			var user ='<%= username %>'
			socket.emit('notifyUser', user);
		}
	</script>
</body>
</html>