<!doctype html>
<html>
<head>
	<title>Socket.IO chat</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<style type="text/css">
		form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
		form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
		form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
		#messages { list-style-type: none; margin: 0; padding: 0; }
		#messages li { padding: 5px 10px; }
		#messages li:nth-child(odd) { background: #eee; }
		#notifyUser { position: fixed; bottom: 42px; width: 100%; }
		.self{
			text-align: right;
		}
		.other{
			text-align: left;
		}
	</style>
</head>
<body>
	<div class="row">
		<div class="col-md-2 col-md-offset-1" style="text-decoration: capitalize;font-size: 20px">
			<%=: username | capitalize %>
		</div>
		<div class="col-md-6" style="text-align: right;">
			<a href="/logout">Logout</a>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-md-8 col-md-offset-1">
			<ul id="messages"></ul>
			<span id="notifyUser"></span>
		</div>
		<div class="col-md-3">
			<ul id="activity"></ul>
		</div>
	</div>
	<form action="POST">
		<input type="hidden" id="user" value="" />
		<input id="m" autocomplete="off" name="content" placeholder="Press enter to send message" /><button>Send</button>
	</form>
	<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
	<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
	<script type="text/javascript">
		var socket = io();
		var fromuser = '<%= username %>';
		var username = '<%= username %>';
		$('form').submit(function(){
			var content = $('#m').val();
			var message = {fromuser:fromuser,content:content} 
			socket.emit('chat message', message);
			$('#m').val('').focus();
			return false;
		});
		socket.emit("name",username);
		socket.on("join_room",function(name){
			$('#activity').append($('<li>').text(name + ' joined the room'));
		});
		socket.on("leave_room",function(name){
			$('#activity').append($('<li>').text(name + ' left the room'));
		});
		socket.on('chat message', function(message){
			if(message.name === username){
				$('#messages').append($('<li class="self">').text(name + " : " + message.content));
			}else{
				$('#messages').append($('<li class="other">').text(name + " : " + message.content));	
			}
		});
		socket.on('notifyUser', function(user){
			var me = $('#user').val();
			if(user != me) {
				$('#notifyUser').text(user + ' is typing ...');
			}
			setTimeout(function(){ $('#notifyUser').text(''); }, 1000);;
		});
	</script>
	<script type="text/javascript">
		$(document).ready(function(){
			var name = makeid();
			$('#user').val(name);

		});

	</script>
	<script type="text/javascript">
		function notifyTyping() { 
			var user = $('#user').val();
			socket.emit('notifyUser', user);
		}
		function makeid() {
			var text = "";
			var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

			for( var i=0; i < 5; i++ ) {
				text += possible.charAt(Math.floor(Math.random() * possible.length));
			}
			return text;
		}
	</script>
</body>
</html>