<!doctype html>
<html>
<head>
	<title>Socket.IO chat</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
	<div class="row">
		<div class="col-md-2 col-md-offset-1" style="text-decoration: capitalize;font-size: 20px">
			<%=: username | capitalize %>
		</div>
		<div class="col-md-6" style="text-align: right;">
			<a href="/logout">Logout</a>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-md-8 col-md-offset-1">
			<ul id="messages"></ul>
		</div>
		<div class="col-md-3">
			<ul id="activity"></ul>
		</div>
	</div>
	<form action="POST">
		<input id="m" autocomplete="off" name="content" placeholder="Press enter to send message" /><button>Send</button>
	</form>
	<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
	<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
	<script type="text/javascript">
		var socket = io();
		var username = '<%= username %>';
		$('form').submit(function(){
			var content = $('#m').val();
			socket.emit('chat message', content,username);
			$('#m').val('');
			return false;
		});
		socket.emit("name",username);
		socket.on("join_room",function(name){
			$('#activity').append($('<li>').text(name + ' joined the room'));
		});
		socket.on("leave_room",function(name){
			$('#activity').append($('<li>').text(name + ' left the room'));
		});
		socket.on('chat message', function(msg){
			$('#messages').append($('<li>').text('<%=username%>: ' + msg));
		});
	</script>
</body>
</html>