<!doctype html>
<html>
<head>
	<title>Socket.IO chat</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<script src="/javascripts/jquery.js"></script>
	<script src="/javascripts/socket.io.js"></script>
	<script type="text/javascript" src="/javascripts/bootstrap.js"></script>
</head>
<body>
	<div class="rooms">
	</div>
	<input id="new_room_name" type="text" name="new_room">
	<button class="btn add_room"> + New Room </button>
	<script type="text/javascript">
	
		var socket = io(); 
		var username = '<%= username %>';
		socket.emit('rooms');
		socket.on('rooms',function(rooms){
			//console.log(rooms);
			if(rooms.length > 0){
				for(i=0;i<rooms.length ;i++){
					$(".rooms").append("<p><a href='/rooms/"+ rooms[i].title+"'>"+rooms[i].title+"</a></p>");
				}
			}

		});
		$(".add_room").click(function(){
			var new_room_name = $("#new_room_name").val();

			socket.emit("add_room",new_room_name,username);
		});
		socket.on("add_room",function(new_room){
			$(".rooms").append("<p><a href='/rooms/" + new_room.title+"'>" + new_room.title+ "</a></p> ");
			window.location.href = '/rooms/'+new_room.title;
		});
	</script>

</body>
</html>