<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<form method="POST">
Username: <input type="text" name="username">
Password: <input type="password" name="password">

<input type="submit" value="Login">
</form>
<a href="/signup">Signup</a>
</body>
</html>